.modal-content.modal-green {
  background-color: #52b285 !important;
  transition: background-color 400ms linear;
}

.modal-content.modal-red {
  background-color: #dc3545 !important;
  transition: background-color 400ms linear;
}

.list-group-item.list-group-item-success.list-group-item-signin {
  background-color: #a3cfbb !important;
}

.list-group-item.list-group-item-danger.list-group-item-signout {
  background-color: #f1aeb5 !important;
}
